<h3>Yeni Ürün Ekleme</h3>
<form #productAddForm="ngForm" (ngSubmit)="add(productAddForm)">
   
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Ürün Adı" name="name" id="name" 
                #name="ngModel" [(ngModel)]="model.name" required>
            <div *ngIf="name.invalid&&name.dirty" class="alert alert-danger">Ürün İsmi Gereklidir!</div>
            <!--name invalid yani geçersiz ise, name dirty ise yani kullanıcı textbox doldurup tekrar içini sildiyse-->
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Ürün Fiyatı" name="price" id="price"
                #price="ngModel" [(ngModel)]="model.price" required>
            <div *ngIf="price.invalid&&price.dirty" class="alert alert-danger">Ürün Fiyatı Gereklidir!</div>

        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Ürün Açıklaması" name="description" id="description"
                #description="ngModel" [(ngModel)]="model.description" required>
            <div *ngIf="description.invalid&&description.dirty" class="alert alert-danger">Ürün Açıklaması Gereklidir!</div>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Ürün Resmi" name="imageUrl" id="imageUrl"
                #imageUrl="ngModel" [(ngModel)]="model.imageUrl" required>
            <div *ngIf="imageUrl.invalid&&imageUrl.dirty" class="alert alert-danger">Ürün Resmi Gereklidir!</div>

        </div>

        <div class="form-group">
            <select class="form-control" #categoryId="ngModel" [(ngModel)]="model.categoryId" required id="categoryId" name="categoryId" >
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            <div *ngIf="categoryId.invalid&&price.touched" class="alert alert-danger">Kategori Gereklidir!</div>
        </div>

        <button class="btn btn-primary" type="submit"[disabled]="productAddForm.invalid">Ürünü Ekle</button>
        

</form>